/*

HELPERS
-------
*/

.weight-1{
	font-weight:100;
}
.weight-2{
	font-weight:200;
}
.weight-3{
	font-weight:300;
}
.weight-4{
	font-weight:400;
}
.weight-5{
	font-weight:500;
}
.weight-6{
	font-weight:600;
}
.weight-7{
	font-weight:700;
}
.weight-8{
	font-weight:800;
}
.padding-min{
	padding-left:2.5%;
}
.padding-1{
	padding-left:10%;
}
.padding-2{
	padding-left:20%;
}
.padding-3{
	padding-left:30%;
}
.padding-g-min{
	padding:2.5%;
}
.padding-g-1{
	padding:10%;
}
.padding-g-2{
	padding:20%;
}
.padding-g-3{
	padding:30%;
}
.justify{
	text-align: justify;
}
.custom-card-title{
	font-size:24px;
	font-weight:300;
	color:rgb(100,100,100);
}
.info{
	color:#03a9f4; /*Light-blue*/
	font-weight:700; /*Bold*/
}
.label{
	color:rgb(150,150,150);
}
.warning{
	color:#ffc107; /*Amber*/
	font-weight:300; /*Thin*/
}
.danger{
	color:#ff5722; /*Deep-orange*/
	font-weight:400;
}
.minor{
	color:rgb(200,200,200);
	font-size:36px;
	font-weight:100;
}
.subtitle-selected{
	color:rgb(150,150,150);
	font-size:36px;
	font-weight:300;
}
.divider{
	border:solid 0.5px rgb(200,200,200);
	height:0.5px;
}
.height-1{
	height:100px;
}
.height-2{
	height:200px;
}
.height-3{
	height:300px;
}
.height-4{
	height:400px;
}
.height-5{
	height:500px;
}
.scrollable-1{
	height:100px;
	overflow: scroll;
}
.scrollable-2{
	height:200px;
	overflow: scroll;
}
.scrollable-3{
	height:300px;
	overflow: scroll;
}
.scrollable-4{
	height:400px;
	overflow: scroll;
}
.scrollable-5{
	height:500px;
	overflow: scroll;
}
.scrollable-6{
	height:600px;
	overflow: scroll;
}
.scrollable-7{
	height:700px;
	overflow: scroll;
}
.scrollable-8{
	height:800px;
	overflow: scroll;
}
.scrollable-9{
	height:900px;
	overflow: scroll;
}

/* PAGE STYLE DEFINITION*/

html,body{
	width:100%;
	margin:0;
	padding:0;
	color:rgba(0,0,0,0.7);
	font-family:'Lato', 'Roboto', sans-serif;
}
.nav-wrapper{
	background-color:rgba(0,0,0,0);
	-webkit-transition: all linear 0.25s;
	-moz-transiiton:all linear 0.25s;
	-o-transtion:all linear 0.25s;
	transition:all linear 0.25s;
}
nav{
	background-color:rgba(50,50,50,0.7);
}
.nav-wrapper:hover{
	background-color:rgba(251,140,0,0.6);
	-webkit-transition: all linear 0.5s;
	-moz-transiiton:all linear 0.5s;
	-o-transtion:all linear 0.5s;
	transition:all linear 0.5s;
}
.brand-logo, nav{
	font-weight:300;
}
.brand-logo{
	width:10%;
	min-width:100px;
	background-color:rgba(251,140,0,0.5);
}
.landing{
	width:100%;
	color:white;
	font-family: 'Work Sans', sans-serif;
	margin-top: -100px;
	margin-bottom:0;
	height:110vh;
	text-align: center;
}
.landing .realign{
	padding-top:10%;
}
.landing-title{
	width:100%;
	display:inline-block;
	text-align: center;
	font-size: 20vw;
	font-weight:100;
}
.landing-subtitle{
	text-align: center;
	display:inline-block;
	margin-top:-100%;
	font-size:4.6vw;
	font-weight:300;
}
.services{
	margin-top:-25px;
	padding-top:7.5%;
	background-image:url('../img/DarkenedSquares.png');
	margin-bottom:0;
	min-height:100vh;
}
.item{
	text-align: justify;
	padding-left:2.5% !important;
	padding-right:2.5% !important;
}
.item h4{
	text-align: center;
}
.cardItem{
	text-align: justify;
	padding:10%;
}
.inter{
	margin:0 !important;
	color:white !important;
}
.inter h3{
	font-weight:300;
}
.tarifs{
	margin-top:-30px !important;
	padding-top:11%;
	min-height:100vh;
	background-image:url('../img/geopattern.png');
}
.projet{
	min-height:100vh;
	height:auto;
}
.portfolio{
	min-height:100vh;
	height:auto;
	padding-top:11%;
	padding-bottom:10%;
	transition: height ease-in-out 0.5s;
	-webkit-transition: height ease-in-out 0.5s;
	-moz-transition: height ease-in-out 0.5s;
	-o-transition: height ease-in-out 0.5s;
}
.gallery{
	min-height:500px;
	margin-bottom:5%;
}
.portfolio .gallery img{
	width:90%;
	padding-left:5%;
}
.inline li{
	display:inline;
}
.divider{
	height:0.5px;
	border:solid 0.5px rgb(175,175,175);
}
.product{
	min-height:75vh;
}
.productImage{
	height:100px;
	width:100%;
	margin:0;
	padding:0;
	background-position:center;
}
.hovering .hideOnHover{
	visibility: visible;
	-webkit-transition: all linear 0.25s;
	-moz-transiiton:all linear 0.25s;
	-o-transtion:all linear 0.25s;
	transition:all linear 0.25s;
}
.hovering .showOnHover{
	opacity:0;
		-webkit-transition: all linear 0.5s;
	-moz-transiiton:all linear 0.5s;
	-o-transtion:all linear 0.5s;
	transition:all linear 0.5s;
}
.hovering:hover .hideOnHover{
	visibility: hidden;
	-webkit-transition: all linear 0.25s;
	-moz-transiiton:all linear 0.25s;
	-o-transtion:all linear 0.25s;
	transition:all linear 0.25s;
}
.hovering:hover .showOnHover{
	opacity:1;
		-webkit-transition: all linear 0.5s;
	-moz-transiiton:all linear 0.5s;
	-o-transtion:all linear 0.5s;
	transition:all linear 0.5s;
}
.collapsible li{

}

.showDivOnHover:hover{
	opacity:1;
	-webkit-transition: all linear 0.75s;
	-moz-transiiton:all linear 0.75s;
	-o-transtion:all linear 0.75s;
	transition:all linear 0.75s;
}

.showDivOnHover{
	opacity:1;
	-webkit-transition: all linear 0.75s;
	-moz-transiiton:all linear 0.75s;
	-o-transtion:all linear 0.75s;
	transition:all linear 0.75s;
}

.btn-border{
	border:solid 0.5px rgba(255,255,255,0.6);
	-webkit-transition: all linear 0.25s;
	-moz-transiiton:all linear 0.25s;
	-o-transtion:all linear 0.25s;
	transition:all linear 0.25s;
}
.btn-border:hover{
	background-color:rgba(255,255,255,0.3);
	-webkit-transition: all linear 0.25s;
	-moz-transiiton:all linear 0.25s;
	-o-transtion:all linear 0.25s;
	transition:all linear 0.25s;
}
.productcontent{
	position: relative;
	height: 25vw;
}
.productprice{
	position: absolute;
	bottom: 0;
	right: 5%;
}

.productprice > p {
	margin: 0;
}

.productprice > h4 {
	margin: 0;
}

.showcase{
	background-size:contain;
	border-bottom:0;
	padding:0;
	height:25vw;
}

@media only screen and (max-width:993px){
	.showcase{
		height:50vw;
	}
}
@media only screen and (max-width:600px){
	.showcase{
		height:100vw;
	}
}
.projet{
	transition: height ease-in-out 0.5s;
	-webkit-transition: height ease-in-out 0.5s;
	-moz-transition: height ease-in-out 0.5s;
	-o-transition: height ease-in-out 0.5s;
}
.projectForm{
	background-color:rgba(0,0,0,0.5);
	padding:5%;

	transition: all ease-out 0.5s;
	-webkit-transition: all ease-out 0.5s;
	-o-transition: all ease-out 0.5s;
	-moz-transition: all ease-out 0.5s;
}
.projectForm:hover{
	background-color:rgba(0,0,0,0.7);

	transition: all ease-out 0.5s;
	-webkit-transition: all ease-out 0.5s;
	-o-transition: all ease-out 0.5s;
	-moz-transition: all ease-out 0.5s;
}

.devis input.ng-invalid.ng-touched{
	color: red !important;
	background-color: red;
}
