html,body{
	width:100%;
	margin:0;
	padding:0;
	color:rgba(0,0,0,0.7);
	font-family:'Lato', 'Roboto', sans-serif;
}
.nav-wrapper{
	background-color:rgba(0,0,0,0);
	-webkit-transition: all linear 0.25s;
	-moz-transiiton:all linear 0.25s;
	-o-transtion:all linear 0.25s;
	transition:all linear 0.25s;
}
nav{
	background-color:rgba(50,50,50,0.7);
}
.nav-wrapper:hover{
	background-color:rgba(251,140,0,0.6);
	-webkit-transition: all linear 0.5s;
	-moz-transiiton:all linear 0.5s;
	-o-transtion:all linear 0.5s;
	transition:all linear 0.5s;
}
.brand-logo, nav{
	font-weight:300;
}
.brand-logo{
	width:10%;
	min-width:100px;
	background-color:rgba(251,140,0,0.5);
}
.landing{
	width:100%;
	color:white;
	font-family: 'Work Sans', sans-serif;
	margin-top: -100px;
	margin-bottom:0;
	height:110vh;
	text-align: center;
}
.landing .realign{
	padding-top:10%;
}
.landing-title{
	width:100%;
	display:inline-block;
	text-align: center;
	font-size: 20vw;
	font-weight:100;
}
.landing-subtitle{
	text-align: center;
	display:inline-block;
	margin-top:-100%;
	font-size:4.6vw;
	font-weight:300;
}
.services{
	margin-top:-25px;
	padding-top:7.5%;
	background-image:url('../img/DarkenedSquares.png');
	margin-bottom:0;
	min-height:100vh;
}
.item{
	text-align: justify;
	padding-left:2.5% !important;
	padding-right:2.5% !important;
}
.item h4{
	text-align: center;
}
.cardItem{
	text-align: justify;
	padding:10%;
}
.inter{
	margin:0 !important;
	color:white !important;
}
.inter h3{
	font-weight:300;
}
.tarifs{
	margin-top:-30px !important;
	padding-top:11%;
	min-height:100vh;
	background-image:url('../img/geopattern.png');
}
.portfolio{
	min-height:100vh;
	height:auto;
	padding-top:11%;
	padding-bottom:10%;
}
.gallery{
	min-height:500px;
	margin-bottom:5%;
}
.portfolio .gallery img{
	width:90%;
	padding-left:5%;
}
.inline li{
	display:inline;
}
.divider{
	height:0.5px;
	border:solid 0.5px rgb(175,175,175);
}
.product{
	min-height:75vh;
}
.productImage{
	height:100px;
	width:100%;
	margin:0;
	padding:0;
	background-position:center;
}
.hovering .hideOnHover{
	visibility: visible;
		-webkit-transition: all linear 0.25s;
	-moz-transiiton:all linear 0.25s;
	-o-transtion:all linear 0.25s;
	transition:all linear 0.25s;
}
.hovering .showOnHover{
	opacity:0;
		-webkit-transition: all linear 0.5s;
	-moz-transiiton:all linear 0.5s;
	-o-transtion:all linear 0.5s;
	transition:all linear 0.5s;
}
.hovering:hover .hideOnHover{
	visibility: hidden;
	-webkit-transition: all linear 0.25s;
	-moz-transiiton:all linear 0.25s;
	-o-transtion:all linear 0.25s;
	transition:all linear 0.25s;
}
.hovering:hover .showOnHover{
	opacity:1;
		-webkit-transition: all linear 0.5s;
	-moz-transiiton:all linear 0.5s;
	-o-transtion:all linear 0.5s;
	transition:all linear 0.5s;
}
.collapsible li{
	
}

.showDivOnHover:hover{
	opacity:1;
	-webkit-transition: all linear 0.75s;
	-moz-transiiton:all linear 0.75s;
	-o-transtion:all linear 0.75s;
	transition:all linear 0.75s;
}

.showDivOnHover{
	opacity:1;
	-webkit-transition: all linear 0.75s;
	-moz-transiiton:all linear 0.75s;
	-o-transtion:all linear 0.75s;
	transition:all linear 0.75s;
}

.btn-border{
	border:solid 0.5px rgba(255,255,255,0.6);
	-webkit-transition: all linear 0.25s;
	-moz-transiiton:all linear 0.25s;
	-o-transtion:all linear 0.25s;
	transition:all linear 0.25s;
}
.btn-border:hover{
	background-color:rgba(255,255,255,0.3);
	-webkit-transition: all linear 0.25s;
	-moz-transiiton:all linear 0.25s;
	-o-transtion:all linear 0.25s;
	transition:all linear 0.25s;
}