<!DOCTYPE html>
<html>
	<head>
		<title>IAAD. It's all about design.</title>
		<link rel="stylesheet" type="text/css" href="css/materialize.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,600,100' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Lato:400,300,100' rel='stylesheet' type='text/css'>
		<meta charset="utf-8">
	</head>
	<body ng-app="Iaad" ng-controller="SuperCtrl">

		<!--NAVIGATION-->
		<header>
			<div class="navbar-fixed">
				<nav class="navbar">
				    <div class="nav-wrapper">
				      <a href="#home" class="brand-logo center">IAAD</a>
				      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
				      <ul class="right hide-on-med-and-down">
				      	<li><a href="#services">Services</a></li>
				        <li><a href="#portfolio">Portfolio</a></li>
				        <li><a href="#tarifs">Tarifs</a></li>
				        <li><a href="#contact">Votre projet</a></li>
				        <li><a href="#contact">Notre équipe</a></li>
				      </ul>
				      <ul class="side-nav" id="mobile-demo">
				      	<li><a href="#services">Services</a></li>
				      	<li><a href="#portfolio">Portfolio</a></li>
				        <li><a href="#tarifs">Tarifs</a></li>
				        <li><a href="#contact">Votre projet</a></li>
				        <li><a href="#contact">Notre équipe</a></li>
				      </ul>
				    </div>
			  	</nav>
		  	</div>
		</header>

		<!--CORPS-->
		<main>

			<!--Landing-->
			<div class="row parallax-container landing valign-wrapper center scrollspy" id="home">
				<div class="container">
					<div class="col s12">
						<div class="valign white-text">
							<h1 class="landing-title">IAAD</h1><br>
							<h2 class="landing-subtitle">it's<strong>all</strong>about<strong>design</strong></h2>
							<ul class="inline">
						      	<li><a href="#services"><button class="btn-flat white-text waves-effect waves-light">Services</button></a></li>
						        <li><a href="#portfolio"><button class="btn-flat white-text waves-effect waves-light">Portfolio</button></a></li>
						        <li><a href="#tarifs"><button class="btn-flat white-text waves-effect waves-light">Tarifs</button></a></li>
						        <li><a href="#contact"><button class="btn-flat white-text waves-effect waves-light">Votre projet</button></a></li>
						        <li><a href="#contact"><button class="btn-flat white-text waves-effect waves-light">Notre équipe</button></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="parallax"><img src="img/brushes-darken.jpg" style="width:auto; height:auto"></div>
			</div>


			<!--Services-->
			<div class="row brown darken-4 white-text z-depth-1 services" >
				<div class="container">
					<div class="row">
						<p class="flow-text"></p>
					</div>
					<div class="row">
						<p class="flow-text"></p>
					</div>
					<div class="row section scrollspy" id="services">
						<h2 class="center">IAAD réalise tous vos supports de communication</h2>
						<p class="flow-text center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at congue enim, sed finibus odio. Nam id luctus purus. Vivamus interdum commodo rutrum. Integer fringilla, elit quis consectetur rhoncus, dui diam semper tortor, non luctus odio felis eu nulla. Etiam pretium efficitur ante, quis placerat leo sagittis eget.</p>
					</div>
					<hr class="divider">
					<div class="row">
						<div class="col m4 s12 center item">
							<h2 class="center orange-text text-lighten-1">
								<i class="material-icons large">description</i>
							</h2>
							<h4 class="white-text text-darken-4">Etude de projet</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at congue enim, sed finibus odio. Nam id luctus purus. Vivamus interdum commodo rutrum. Integer fringilla, elit quis consectetur rhoncus, dui diam semper tortor, non luctus odio felis eu nulla. Etiam pretium efficitur ante, quis placerat leo sagittis eget.</p>
						</div>
						<div class="col m4 s12 center item">
							<h2 class="center orange-text text-lighten-1">
								<i class="material-icons large">invert_colors</i>
							</h2>
							<h4 class="white-text text-darken-4">Reflexion graphique</h4>
							<p>Curabitur hendrerit tempus sollicitudin. Donec faucibus facilisis metus, non tristique mauris pulvinar ut. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus aliquet tempor lectus nec eleifend. Aenean justo dui, gravida sed lacus vel, accumsan mattis quam. </p>
						</div>
						<div class="col m4 s12 center item">
							<h2 class="center orange-text text-lighten-1">
								<i class="material-icons large">dashboard</i>
							</h2>
							<h4 class="white-text text-darken-4">Design & Réalisation</h4>
							<p> Curabitur tincidunt varius est vitae feugiat. Pellentesque imperdiet at odio nec dictum. Etiam imperdiet congue sem vel ullamcorper. Suspendisse imperdiet libero vitae purus auctor, ac porta sem pulvinar. Maecenas malesuada tincidunt turpis, et scelerisque lorem tempor eu. </p>
						</div>
					</div>
					<div class="row">
						<p class="flow-text"></p>
					</div>
				</div>
			</div>


			<!--Portfolio-->
			<div class="row parallax-container inter valign-wrapper portfolio ">
				<div class="container">
					<div class="row">
						<div class="center valign scrollspy" id="portfolio">
							<h3>Découvrez nos réalisations</h3>
							<ul class="inline">
								<li><button ng-click="filter(1);" class="btn-flat btn-border white-text waves-effect waves-light">Tout</button></li>
								<li><button ng-click="filter(2);" class="btn-flat btn-border white-text waves-effect waves-light">Affiches</button></li>
								<li><button ng-click="filter(3);" class="btn-flat btn-border white-text waves-effect waves-light">Logos</button></li>
								<li><button ng-click="filter(4);" class="btn-flat btn-border white-text waves-effect waves-light">Vitrines</button></li>
								<li><button ng-click="filter(5);" class="btn-flat btn-border white-text waves-effect waves-light">Edition</button></li>
							</ul>
						</div>
					</div>
					<hr class="divider">
					<div class="row"><p class="flow-text"></p></div>
					<div class="row">
						<div class="col s12 m6 l3 center gallery" ng-repeat="visual in visuals">
							<img class="materialboxed" ng-src="{{visual.url}}" data-caption="{{visual.nom}}">
							<h5 class="white-text">{{visual.nom}}</h5>
							<p>{{visual.client}}</p>
						</div>
					</div>
				</div>

				<div class="parallax"><img src="img/apple-darken.jpg" style="width:100%"></div>
			</div>


			<!--Tarifs-->
			<div class="row brown darken-4 white-text tarifs">
				<div class="container">
					<div class="row ">
						<h3 class="center scrollspy" id="tarifs"> Tarifs </h3>
						<p class="flow-text center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at congue enim, sed finibus odio. Nam id luctus purus. Vivamus interdum commodo rutrum. Integer fringilla, elit quis consectetur rhoncus, dui diam semper tortor, non luctus odio felis eu nulla. Etiam pretium efficitur ante, quis placerat leo sagittis eget.</p>
					</div>
					<hr class="divider">
					<div class="row">
						<p class="flow-text"></p>
					</div>
				</div>
					<div class="row">
						<ul class="collapsible popout grey-text text-darken-2 row" data-collapsible="accordion">
							<li ng-repeat="product in products" class="col s3 hovering"  style="margin:0;padding:0 !important; ">
								<div hover-bg-image="{{product.hovimgUrl}}" default-bg-image="{{product.imgUrl}}" class="showDivOnHover collapsible-header  brown lighten-2 white-text text-darken-2" style="background-size:contain; border-bottom:0; padding:0; background-image:url('{{product.imgUrl}}');height:25vw;">

									<div class="row valign-wrapper " style="padding:1rem;">
												<h4 class="col s12">{{product.nom}}</h4><br><br>
												<p class="flow-text showOnHover">à partir de</p>
												<h4 class="showOnHover">{{product.prix}}€</h4>
									</div>
								</div>
								<div class="collapsible-body brown lighten-2 white-text text-darken-2">
									<div class="row">
										<div class="col s12">
										<p>{{product.description}}</p>
										</div>
										<div ng-show="product.options.length" class="col s12">
											
											<h5 >Options</h5>
											<form class="col s12">
												<div class="input-field" ng-repeat="option in product.options">
													<button data-tooltip="{{option.tooltip}}" data-position="right" ng-class="{'btn orange tooltipped':option.checked, 'btn brown darken-4 white-text tooltipped':!option.checked}" ng-click="checkOption($index,product.options);updatePrice(product)">{{option.nom}}</button>
												</div>
											</form><br><br><br>
											<div class="row">
												<p class="flow-text"></p>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					
					</div>

			</div>
		</main>



		<footer>
		</footer>


	<!--Scripts-->
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/materialize.min.js"></script>
	<script type="text/javascript" src="js/angular-153.min.js"></script>
	<script type="text/javascript" src="js/angular-animate-153.js"></script>
	<script type="text/javascript" src="js/angular-ui-router.min.js"></script>
	<script type="text/javascript" src="js/angular-materialize.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script>
		 $(document).ready(function(){
		 	$('.parallax').parallax();
		    $('.scrollspy').scrollSpy();
		    $(".button-collapse").sideNav();
		    $('.materialboxed').materialbox();
		     $('.tooltipped').tooltip({delay: 50});
		    $('.collapsible').collapsible({
		      accordion : true // A setting that changes the collapsible behavior to expandable instead of the default accordion style
		    });
		  });
	</script>
	<script>
	$(document).on('scroll', function (e) { updateColor(); });

		function updateColor() {
			var s= $(document).scrollTop();
		  var o = $(document).scrollTop() / 1000;
		    if(s > 700) {o = 1; }
		    var e = $('nav');
		    var currentColor = e.css('background-color');
		    var rgb = currentColor.replace(/^(rgb|rgba)\(/, '').replace(/\)$/, '').replace(/\s/g, '').split(',');
		    var newColor = 'rgba(' + rgb[0] + ',' + rgb[1] + ',' + rgb[2] + ',' + (o - 0.3) + ')';
		    e.attr('style', 'background-color: ' + newColor + ' !important');
		    e.attr('style','opacity:'+o+';');
		}

		updateColor();
	</script>
	</body>

</html>